.noprint,
a.abutton,
form div.buttons {
	display: none;
}

a {
	color: inherit;
	text-decoration: none;
}

a::after {
	content: " (" attr(href) ") ";
}

a[target="_blank"] {
	background: none;
	padding-left: 0;
}

textarea.console,
pre.console {
	background: white;
	color: black;
}
pre.console {
	width:inherit;
	overflow: inherit;
	height:inherit;
}
pre.console div.console_inner {
	height:inherit;
	padding-bottom:0;
}
